body {
    background-image: url("img/sea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    .header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
    }
    .container h2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    padding-top: 20px;
    }
    .jumbotron{
    background-color: aliceblue;
    }
 input[type=email] {
        width:  60%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
      input[type=password] {
        width:  60%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;